@model List<TGLDonors>
@{
    ViewData["Title"] = "Our Partners";
}

<h1 class="display-4 goldenclr">@ViewData["Title"]</h1>
<p>This is a list of all the organisations who have partnered with us in seeing through with our Mission and Vision</p>
<hr color="#ffa800" />

<center><i class="fa fa-handshake-o goldenclr" style="font-size: xx-large;"></i></center>
@{
    var PartnerCate = "";
    var PartnerCate2 = "";
    var specialCategory = "";
    foreach (var item in Model)
    {
        if (item.GetType() == typeof(Organisation))
        {
            PartnerCate = Convert.ToString(item.GetType());
            PartnerCate = PartnerCate.Replace("u21589276_HW04.Models.", " ");

            specialCategory = Convert.ToString(item.GetType());
            specialCategory = specialCategory.Replace("u21589276_HW04.Models.", " ");

        }
        if (item.GetType() == typeof(Individual))
        {
            PartnerCate2 = Convert.ToString(item.GetType());
            PartnerCate2 = PartnerCate2.Replace("u21589276_HW04.Models.", " ");

            specialCategory = Convert.ToString(item.GetType());
            specialCategory = specialCategory.Replace("u21589276_HW04.Models.", " ");

        }
    }
}

<!--table organisations-->
<h4>Organisations</h4>
<p>This table shows all organisations we have partnered with</p>
<table class="table" name="Organisations">
    <thead class="bg-warning">
        <tr>
            <th>Partner Name</th>
            <th>Details</th>
            <th>Phonenumber</th>
            <th>Partner ID</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var partner in Model)
        {
            @if (partner.GetType() == typeof(Organisation))
            {
                <tr>
                    <td>@partner.Name</td>
                    <td>This is an @PartnerCate.</td>
                    <td>@partner.Phonenumber</td>
                    <td>@partner.getDonorID()</td>
                    <td>@partner.getAge()</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<!--table individual-->
<h4>Individauls</h4>
<p>This table shows all individuals we have partnered with</p>
<table class="table" name="Individauls">
    <thead class="bg-warning">
        <tr>
            <th>Partner Name</th>
            <th>Details</th>
            <th>Phonenumber</th>
            <th>Partner ID</th>
            <th>Duration of Partnership</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var partner in Model)
        {
            @if (partner.GetType() == typeof(Individual))
            {
                <tr>
                    <td>@partner.Name</td>
                    <td>This is an @PartnerCate2.</td>
                    <td>@partner.Phonenumber</td>
                    <td>@partner.getDonorID()</td>
                    <td>@partner.getAge()</td>
                </tr>
            }
        }
    </tbody>
</table>
